<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            path="/hello"
            class="org.akrogen.dynaresume.raphelloworld.Application"
            id="org.akrogen.dynaresume.raphelloworld.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.akrogen.dynaresume.raphelloworld.Perspective"
            icon="images/search.gif"
            id="org.akrogen.dynaresume.raphelloworld.perspective"
            name="Demo">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">

      <view
            class="org.akrogen.dynaresume.raphelloworld.ChartViewPart"
            icon="images/contact.gif"
            id="org.akrogen.dynaresume.raphelloworld.chartviewpart"
            name="Chart"
            restorable="true">
      </view>
      <view
            class="org.akrogen.dynaresume.raphelloworld.TreeViewPart"
            icon="images/info.gif"
            id="org.akrogen.dynaresume.raphelloworld.treeviewpartII"
            name="View II"
            restorable="true">
      </view>
      
      <view
            class="org.akrogen.dynaresume.raphelloworld.FormViewPart"
            icon="images/register.gif"
            id="org.akrogen.dynaresume.raphelloworld.formviewpart"
            name="Form"
            restorable="true">
      </view>
      
      <view
            class="org.akrogen.dynaresume.raphelloworld.SelectionViewPart"
            id="org.akrogen.dynaresume.raphelloworld.selectionviewpart"
            name="Selection View"
            restorable="true"
            icon="images/status.gif">
      </view>
      <view
            class="org.akrogen.dynaresume.raphelloworld.TreeViewPart"
            icon="images/login.gif"
            id="org.akrogen.dynaresume.raphelloworld.treeviewpart"
            name="Tree"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.akrogen.dynaresume.raphelloworld.BrowserViewPart"
            icon="images/internal_browser.gif"
            id="org.akrogen.dynaresume.raphelloworld.browserviewpart"
            name="Browser"
            restorable="true">
      </view>
   </extension>
 
</plugin>
