<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.carter.peyton.training.rap.application.Application"
            id="org.carter.peyton.training.rap.application"
            path="/demo">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.carter.peyton.training.rap.application.perspective.ProjectsPerspective"
            fixed="true"
            icon="images/serverview.png"
            id="org.carter.peyton.training.rap.perspective.projects"
            name="Projects">
      </perspective>
      <perspective
            class="org.carter.peyton.training.rap.application.perspective.TemplatesPerspective"
            fixed="true"
            icon="images/template.png"
            id="org.carter.peyton.training.rap.perspective.templates"
            name="Templates">
      </perspective>
      <perspective
            class="org.carter.peyton.training.rap.application.perspective.SystemPerspective"
            fixed="true"
            icon="images/system.png"
            id="org.carter.peyton.training.rap.perspective.system"
            name="System">
      </perspective>
      <perspective
            class="org.carter.peyton.training.rap.application.perspective.UsersPerspective"
            fixed="true"
            icon="images/group_users.png"
            id="org.carter.peyton.training.rap.perspective.users"
            name="Users">
      </perspective>
      <perspective
            class="org.carter.peyton.training.rap.application.perspective.LogoutPerspective"
            fixed="true"
            icon="images/logout.png"
            id="org.carter.peyton.training.rap.perspective.logout"
            name="Logout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.carter.peyton.training.rap.view.ProjectsTreeViewPart"
            icon="images/serverview.png"
            id="org.carter.peyton.training.rap.view.ProjectsTreeView"
            name="Projects">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.ProjectsTreeViewPart"
            icon="images/show_services.png"
            id="org.carter.peyton.training.rap.view.DriversTreeView"
            name="Drivers">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.ProjectsTreeViewPart"
            icon="images/zone.png"
            id="org.carter.peyton.training.rap.view.AreasTreeView"
            name="Areas">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.VersionPropertyFormViewPart"
            id="org.carter.peyton.training.rap.VersionPropertyFormView"
            name="Version Properties">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.DevicesSelectionViewPart"
            icon="images/device_model.png"
            id="org.carter.peyton.training.rap.DevicesSelectionView"
            name="Devices">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.DevicesSelectionViewPart"
            icon="images/service.png"
            id="org.carter.peyton.training.rap.ServicesSelectionView"
            name="Services">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.DevicesSelectionViewPart"
            icon="images/scene.png"
            id="org.carter.peyton.training.rap.ScenesSelectionView"
            name="Scenes">
      </view>
      <view
            class="org.carter.peyton.training.rap.view.DevicesSelectionViewPart"
            icon="images/rule.png"
            id="org.carter.peyton.training.rap.RulesSelectionView"
            name="Rules">
      </view>
   </extension>

</plugin>
